body {
    margin: 0;
    background: #0a0a0a;
    color: white;
    font-family: Inter, sans-serif;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 18px;
}

.container-small {
    max-width: 420px;
    margin: auto;
    margin-top: 20px;
    background: #111;
    padding: 20px;
    border-radius: 12px;
}

h2 { font-family: Orbitron; }

/* Buttons */
.btn {
    background: linear-gradient(90deg, #3D5AFE, #C158DC);
    padding: 12px;
    border: none;
    border-radius: 10px;
    width: 100%;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    background: #222;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
}
.small { color: #aaa; }
